@page "{id}"
@model RazorPagesClient.Pages.Employees.DeleteEmployeeModel
@{
    ViewData["Title"] = "Delete Employee";
    ViewData["ShowButtons"] = false;
}

<h1 class="text-center">Delete Confirmation</h1>

<div class="alert alert-danger">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
            <partial name="_DisplayEmployeePartial" model="Model.Employee" view-data="ViewData" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
            <div class="text-center text-secondary">
                <h4>Employee ID: <span class="text-primary">@Model.Employee.Id</span></h4><hr/>
                <h4>Employee E-mail: <span class="text-primary">@Model.Employee.Email</span></h4><hr />
                <h4>Employee Department: <span class="text-primary">@Model.Employee.Department</span></h4><hr />
            </div>            
        </div>        
    </div>
    <div class="row">
        <div class="col text-center">
            <h5>Are you shure want to delete this employee?</h5>

            <form method="post">
                <input type="hidden" asp-for="Employee.Id"/>
                <input type="hidden" asp-for="Employee.PhotoPath" />
                <button type="submit" class="btn btn-success buttonShadow">Yes</button>
                <a asp-page="/Employees/Employees" class="btn btn-danger m-1 buttonShadow">No</a>
            </form>
        </div>
    </div>
</div>


