@page 
@model RazorPagesClient.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Employees";
    ViewData["ShowButtons"] = true;
}

<vc:head-count department="@null"></vc:head-count>

<h3 class="text-center">Employees</h3>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SM"]
    </div>
}
    
 <div class="row">
    @foreach (var item in Model.Employees)
    {
       <div class="col-12 col-sm-6 col-lg-4">
            <partial name="_DisplayEmployeePartial" model="item" view-data="ViewData" />
       </div>
    }
 </div>
